@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
    font-family: 'Roboto Mono', Courier, monospace;
}

.board{
    background-color: antiquewhite;
    width: 60em;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding: 0.5em;


    border-radius: 1em;
}

h1{
    font-size: 2em;
}