.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50em;
  margin: auto;
}

.list-item {
  padding: 0.3rem;
  margin-bottom: 0.2rem;
  border: 1px rgba(0, 0, 0, 0.25) solid;
  white-space: nowrap;
  height: 1.5rem;
  background-color: #CD6688;
  border-radius: 0.3rem;
  width: 50em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.list-item-entry {
  position: relative;
  padding: 0.3rem;
  margin-bottom: 0.2rem;
  border: 1px rgba(0, 0, 0, 0.25) solid;
  height: 1rem;
  background-color: #AED8CC;
  border-radius: 0.3rem;
  width: 50em;
  text-align: center;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 150ms;
  animation-name: unexpand;
  animation-duration: 200ms;
  width: 50em;
  left: 0em;
}
.list-item-entry:hover {
  height: 1.25rem;
  animation-name: expand;
  animation-duration: 200ms;
  background-color: #AED8CC;
  width: 51em;
  left: -0.5em;
}
.list-item-entry:hover * {
  top: 0;
}
.list-item-entry * {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 150ms;
  position: relative;
  margin: 0;
  padding: 0;
  top: -0.2rem;
  justify-content: start;
  text-align: center;
  vertical-align: top;
}

@keyframes expand {
  from {
    width: 50em;
    left: 0em;
  }
  to {
    width: 51em;
    left: -0.5em;
  }
}
@keyframes unexpand {
  from {
    width: 51em;
    left: -0.5em;
  }
  to {
    width: 50em;
    left: 0em;
  }
}
.entry {
  width: 48em;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  justify-content: space-around;
}
.entry input {
  width: 19.5em;
  height: 1.6em;
  outline: none;
  padding-left: 0.5em;
  background-color: rgba(254, 254, 254, 0.6274509804);
  border: 1px rgba(0, 0, 0, 0.3137254902) solid;
  border-radius: 0.25rem;
  transition: 100ms ease-in-out;
}
.entry input:hover {
  background-color: white;
}
.entry input:focus {
  border: 2px solid black;
}

.open-popup {
  font-style: italic;
  width: 33em;
  border: 1px rgba(0, 0, 0, 0.3137254902) solid;
  border-radius: 0.25rem;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 6em;
  cursor: pointer;
  font-size: 0.85em;
  background-color: rgba(254, 254, 254, 0.6274509804);
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 100ms;
}
.open-popup:hover {
  width: 34em;
  text-decoration: underline;
  background-color: white;
}

.empty {
  font-size: 0.75em;
  width: 37.5em;
  color: gray;
}
.empty:hover {
  width: 39em;
}

.floating {
  position: absolute;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.list-item.drop-zone {
  background-color: #6b2661;
  transition-property: height padding;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: hidden;
}

.drag-area {
  cursor: grab;
  width: 1.25em;
  font-size: 1.25em;
  color: #252525;
  transition: 50ms ease-in-out;
  text-align: center;
}
.drag-area:hover {
  width: 1.1em;
  font-size: 1.4em;
  color: black;
}

.dragging {
  cursor: grabbing;
}

.full {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.popup-bg {
  background-color: rgba(0, 0, 0, 0.3137254902);
  backdrop-filter: blur(4px);
  cursor: default;
}

.popup-card {
  z-index: 200;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 35em;
  height: 26em;
  border-radius: 1em;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3098039216);
  background-color: #7A316F;
  display: flex;
  flex-direction: column;
}
.popup-card h1 {
  position: relative;
  top: 0em;
}
.popup-card span {
  font-size: 0.8rem;
  color: rgba(15, 15, 15, 0.6666666667);
  font-style: italic;
  top: 0em;
}
.popup-card textarea {
  word-break: break-all;
  hyphens: auto;
  hyphenate-character: "1";
  position: relative;
  bottom: 0;
  padding: 1em;
  border-radius: 1em;
  margin: auto;
  resize: none;
  background-color: rgba(255, 255, 255, 0.4392156863);
  transition: 100ms ease-in-out;
}
.popup-card textarea:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6666666667);
}
.popup-card .cross {
  position: absolute;
  z-index: 400;
  right: 1.25rem;
  top: 1.25rem;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  transition: 50ms ease-in-out;
  cursor: pointer;
}
.popup-card .cross:hover {
  animation-name: selcross;
  animation-duration: 200ms;
  background-color: rgba(255, 255, 255, 0.3529411765);
  right: 1rem;
  top: 1rem;
  font-size: 1.75em;
}
.popup-card .cross:active {
  right: 1.5rem;
  top: 1.5rem;
  font-size: 1.25em;
}

.hidden {
  display: none;
}

.list-item.drop-zone.hidden {
  display: block;
  height: 0px;
  border: none;
  padding: 0px;
}

/*# sourceMappingURL=list.css.map */
